services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_NAME=sample_db
      - DB_USER=root
      - DB_PASSWORD=password
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=sample_db
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - "3306:3306"

volumes:
  mysql000vol11:
  wordpress000vol12: